run = "java -Dserver.port=5000 -jar build/libs/*.jar"
modules = ["java-graalvm22.3", "web", "nodejs-20", "bash"]

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "java -Dserver.port=5000 -jar build/libs/*.jar"]
build = ["sh", "-c", "chmod +x gradlew && ./gradlew clean build -x test"]

[[ports]]
localPort = 5000
externalPort = 80
